---
layout: main
home: true
---

{% assign posts = site.posts | where_exp:"post","post.is_generated != true" %}


<div class="principal white">
  <div class="texto">
    <h1>O <span>idvogados</span> é um projeto de acesso à justiça que conecta trabalhadores às instituições voluntárias dispostas a lutar por melhores condições de trabalho.</h1>
      <div class="frame show-only-desktop">
        <div class="notch"></div>
        <div class="silence-btn"></div>
        <div class="plus-btn"></div>
        <div class="minus-btn"></div>
        <div class="power-btn"></div>
        <div class="screen"></div>
      </div>
  </div>
</div>
<main class="home" role="main">
  <section id="utilizacao" class="white">
    <article>
      <header>
        <h1>Como Podemos te Ajudar?</h1>
        <p>Segundo o IBGE, mais de 13 milhões de brasileiros trabalham para aplicativos de serviços de entrega e transporte. Trabalhadores que fazem parte de um novo contexto trabalhista, muitas vezes sem qualquer garantia ou segurança, e se encontram fragilizados e privados de informações frente à grandes empresas.</p>
        <p>O Idvogados usa a tecnologia a favor da informação e da proteção ao trabalhador, através de campanhas e serviços que conectam instituições de ensino, coletivos, advogados e grupos voluntários às causas da nova realidade trabalhista, ainda abordada de forma distante pelo nosso judiciário.</p>
        <p>Pretendemos oferecer espaços para tirar dúvidas, analisar casos, apoiar campanhas e para o oferecimento de apoio jurídico em casos de abuso à dignidade e integridade do trabalhador.</p>
      </header>
    </article>
  </section>
  <section id="como-surgiu">
    <article>
      <header>
        <h1>Como surgiu a ideia?</h1>
        <div class="row">
          <div class="col-m2">
            <p>Unidos pela ideia apresentada no episódio Delivery, do Programa Greg News, exibido no dia 17 de abril de 2020, voluntários das mais diversas áreas se reuniram para tornar realidade o sonho de facilitar o contato dos trabalhadores com instituições que possam ajudá-lo judicialmente, através de ferramentas tecnológicas.</p>
            <p>Durante o Desenvolvimento do projeto, muitos pontos tiveram que ser acertados,  e o hoje o Idvogados tem pretensões mais abrangentes, que visam atender grupos fragilizados e pessoas  que, pelos mais diversos motivos, tem seu acesso à justiça dificultado.</p>
          </div>
          <div class="col-m2">
            <div class="embed-container">
              <iframe 
                width="560" 
                height="315" 
                src="https://www.youtube.com/embed/v3B9w6wWNQA?start=1484&end=1952" 
                frameborder="0" 
                allow="accelerometer; 
                autoplay; 
                encrypted-media; 
                gyroscope; 
                picture-in-picture" 
                allowfullscreen
              ></iframe>
          </div>
        </div>
          </div>
      </header>
    </article>
  </section>
  <section id="colabore" class="white">
    <article>
      <div class="row">
        <img class="img-colabore show-only-desktop col-m2" src="./assets/img/colabore.svg" alt="Colabore">
        <header class="col-m2">
          <h1>Como posso colaborar?</h1>
          <p>O Idvogados está de portas abertas para qualquer um que queira fazer o bem, seja você um profissional ou uma instituição. 
            Não importa a sua área de atuação, ficaríamos felizes em ouvir suas ideias e contar com a sua ajuda. 
            No momento, nossa campanha de financiamento se encontra em construção, mas em breve você também poderá contribuir com a manutenção dos nossos custos de serviço.
          </p>
          <img class="img-colabore hide-only-desktop" src="./assets/img/colabore.svg" alt="Colabore">
          <div class="btn-group">
            <a class="btn secondary-btn" href="https://discord.gg/Fu3xp9A" target="_blank">Quero botar a mão na massa</a>
          </div>
        </header>
      </div>
    </article>
  </section>
  <section id="informe">
    <article>
      <header>
        <h1>Informe-se sobre seus direitos</h1>
        <p>O Blog do Idvogados tem artigos escritos por profissionais da justiça e de diversas outras áreas. A proposta é discutir temas atuais sobre o direito trabalhista, a tecnologia da informação na vida do cidadão e os novos moldes da discriminação e precarização de grupos sociais.</p>
      </header>
      <div id="grid" class="row flex-grid">
        <!-- Posts -->
        {% for post in posts %}
          {% if forloop.index <= 6 %}
            <article class="box-item">
              <div class="box-body">
                <div class="box-info">
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    <h2 class="post-title">
                      {{ post.title }}
                    </h2>
                  </a>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    <p class="description">{{ post.description }}</p>
                  </a>
                  <a class="category" href="{{ site.baseurl }}/{{ site.categories_folder | default: "category" }}/{{ post.category }}">
                      <span>{{ post.category }}</span>
                  </a>
                </div>
              </div>
            </article>
          {% endif %}
        {% endfor %}
        <div class="more-posts">
          <a class="btn primary-btn" href="/blog" target="_self">Leia mais artigos no blog</a>
        </div>
      </div>
    </article>
  </section>
</main>
