.author {
  background: $lightColor;
  display: table;
  width: 100%;
  padding: rem(40px) 0;
  margin: rem(40px) 0;

  @include media(">=sm") {
    padding: rem(50px) 0;
  }

  .details {
    margin: auto;
    @include media("<md") {
      margin: 0 32px;
    }
    @include media(">=md") {
      max-width: $widthContainerMD;
    }
    @include media(">=lg") {
      max-width: $widthContainerLG;
    }
    padding: 0 rem(20px);

    @include media("<sm") {
      text-align: center;
    }
  }

  svg {
    @include size(25, 25);
    margin-right: rem(10px);
  }

  a {
    fill: darken($lightColor, 30%);
    text-decoration: none;
    border: none;
    transition: all 0.3s;

    &:hover {
      fill: $primaryColor;
    }
  }

  img {
    width: rem(150px);
    border-radius: 50%;
    display: block;
    margin: auto;

    @include media(">=sm") {
      width: rem(180px);
      float: left;
      margin-right: 3.125rem;
    }
  }

  .def {
    color: $mediumColor;
    font-size: rem(18px);
    @include mainFont(300);
    margin: rem(10px);

    @include media(">=sm") {
      margin: 0;
    }
  }

  .name {
    margin: 0;

    a {
      @include mainFont();
      text-decoration: none;
      color: $lightColorContrast;
      font-size: rem(30px);

      @include media(">=sm") {
        font-size: rem(45px);
      }

      &:hover {
        color: $mediumColor;
      }
    }
  }

  .desc {
    @include mainFont(300);
    margin: rem(10px);
    font-size: rem(16px);
    line-height: rem(25px);

    @include media(">=sm") {
      font-size: rem(18px);
    }
  }
}
