.embed-container { 
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
  text-align: center;
  border-radius: rem(4px);
  position: relative;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
  width: 340px;
  text-decoration: none;

  &:before {
    width: 100%;
    height: rem(4px);
    display: block;
    position: absolute;
    content: "";
    bottom: 0px;
    border-bottom-left-radius: rem(4px);
    border-bottom-right-radius: rem(4px);
  }
}

.img-colabore {
  @include media("<=sm") {
    margin-bottom: rem(80px);
  }
  @include media("<=lg", ">sm") {
    margin: rem(80px) rem(140px);
  }
}

.primary-btn {

  background-color: $primaryColorLighten;
  color: $primaryColorContrast !important;

  &:before, &:hover {
    background-color: $primaryColor;
  }
  
}

.secondary-btn {
  
  background-color: $secondaryColorLighten;
  color: $secondaryColorDark !important;

  &:before, &:hover {
    background-color: $secondaryColor;
  }
}

.more-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: rem(40px);
}

.content {
  background-color: $primaryColorContrast;
  padding-bottom: rem(100px);
}

.light-color {
  background-color: $lightColor;
}

.white {
  background-color: $primaryColorContrast;
}

.home {
  & > section {
    & > article {
      padding: rem(62px) 0;
      margin: auto;
      @include mainFont(400);

      @include media("<md") {
        margin: 0 rem(32px);
      }
      @include media(">=md") {
        max-width: $widthContainerMD;
      }
      @include media(">=lg") {
        max-width: $widthContainerLG;
      }
      .row {
        @include media(">=lg") {
          display: flex;
          flex-direction: row;
          .col-m2 {
            flex: 1;
            &:not(:first-child) {
              margin-left: rem(32px);
            }
          }
        }
      }
    }
  }
}

.principal {
  margin-top:112px;
  color: $primaryColorContrast;
  padding: rem(100px) 0 rem(150px) 0;
  position: relative;
  min-height: rem(400px);
  z-index: 100;
  span {
    color: $secondaryColor;
  }
  .texto {
    position: relative;
    margin: auto;

    @include media("<md") {
      margin: 0 rem(32px);
    }

    @include media(">=md") {
      max-width: $widthContainerMD;
    }

    @include media(">=lg") {
      max-width: $widthContainerLG;
    }

    h1 {
      line-height: rem(50px);
      max-width: 700px;
    }

    .frame {    
      content: "";
      position: absolute;
      z-index: 10;
      width: 13.75rem;
      height: 28.125rem;
      top: -90px;
      right: 0;
      .notch {  
        content: "";
        position: absolute;
        background-color: $lightColorContrast;
        width: 106px;
        height: 16px;
        top: 12px;
        left: calc(50% - 53px);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        z-index: 1;
        &::after {
          content: "";
          position: absolute;
          background-color: $primaryColorContrast;
          width: 30px;
          height: 4px;
          left: calc(50% - 15px);
          border-radius: 4px;
          top: 4px;
        }
        &::before {
          content: "";
          position: absolute;
          background-color: $primaryColorContrast;
          width: 8px;
          height: 8px;
          left: calc(50% + 20px);
          border-radius: 4px;
          top: 2px;
        }
      }

      .screen {
        position: absolute;
        border-radius: 30px;
        border: $lightColor 12px solid;
        background-color: $primaryColorContrast;
        background-image: url("/assets/img/icon.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: calc(100% - 6px);
        height: calc(100% - 12px);
        right: 3px;
        box-shadow: -10px 22px 34px rgba($color: $lightColorContrast, $alpha: 0.1);
        &::before {
          content: "";
          position: absolute;
          width: calc(100% + 16px);
          top: -8px;
          left: -8px;
          height: calc(100% + 16px);
          border-radius: 26px;
          border: $lightColorContrast 8px solid;
        }
      }

      .silence-btn {
        position: absolute;
        background-color: $lightColor;
        width: 4px;
        height: 16px;
        top: 60px;
        left: 1px;
      }

      .plus-btn {
        position: absolute;
        background-color: $lightColor;
        width: 4px;
        height: 32px;
        top: 90px;
        left: 1px;
      }

      .minus-btn {
        position: absolute;
        background-color: $lightColor;
        width: 4px;
        height: 32px;
        top: 130px;
        left: 1px;
      }

      .power-btn {
        position: absolute;
        background-color: $lightColor;
        width: 4px;
        height: 50px;
        top: 102px;
        right: 1px;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $primaryColor;
    z-index: -1;
    width: calc(100% + 10px);
    height: calc(100% + 90px);
    top: -120px;
    left: -5px;
    background: url(/assets/img/background.svg) no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
  }
}

.show-only-desktop {
  @include media("<=lg") {
    display: none !important;
  }
}

.hide-only-desktop {
  @include media(">lg") {
    display: none !important;
  }
}